body {
  margin: 0;
}

/* NAVBAR */
navbar {
  display: flex;
  background-color: thistle;
}
.active {
  color: white;
  background-color: black;
}
navbar button {
  padding:8px 16px;
  width:auto;
  border:none;
  display: inline;
  outline:0;
  font: 0.9em Arial;
}
navbar a {
  text-decoration: none;
}
navbar button:hover {
  color: white;
  background: grey;
}
.right {
  background: thistle;
  margin-left: auto;
  padding: 0;
}
.right img {
  width: 2em;
}
#btn-settings-close {
  background: white;
  padding: 0;
  float: right;
}
#btn-settings-close img {
  width: 2em;
}
/* /NAVBAR */



.app {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 1em;
  height: 85%;
  aspect-ratio: 0.8;
  justify-items: center;
}

.card {
  height: 0;
  min-height: 100%;
  object-fit: contain;
  border: 2px solid thistle;
}
.card:hover {
  border: 2px solid;
  background: thistle;
}


#view-settings {
  /* overlay */
  background: lightgrey;
  visibility: hidden; /* DEBUG */
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
}
#view-settings h1 {
  margin: 0;
}
